.order-form {
    width: 100%;
    height: 720px;
    background-color: #F3F7FF;
    z-index: 1;
    position: relative;

    .container {
        padding-top: 40px;
        padding-left: 104px;
        padding-right: 104px;
    }

    .form {
        border-radius: 30px;
        width: 100%;
        height: 540px;
        background-color: #fff;
        display: flex;
        position: relative;
    }
}

.form::before {
    content: '';
    border-radius: 30px;
    left: 20px;
    top: 60px;
    width: calc(100% - 40px);
    height: 490px;
    background: #fbf9f6;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    position: absolute;
    z-index: -1;
}

.form__img-wrap {
    height: 100%;

    img {
        max-height: 100%;
        border-radius: 30px;
    }
}

.form__choice {
    padding-right: 58px;
    width: 100%;

    .progress__step {
        margin-top: 26px;
        font-size: 16px;
        color: #8B96A4;
        text-align: center;
    }

    .progress__progress-wrap {
        margin-top: 10px;
        border-radius: 142px;
        width: 100%;
        height: 7px;
        background-color: #DAEDFF;

        .progress__progress-line {
            border-radius: inherit;
            width: 50px;
            height: 100%;
            background-color: #2783FE;
        }
    }

    .choice__progress-mobile {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background-color: #DAEDFF;
        position: relative;
        overflow: hidden;
        display: none;
        flex-shrink: 0;
    }

    .progress-line-mobile {
        position: absolute;
    }

    .progress-mobile__title {
        left: calc(50% - 70px/2);
        top: calc(50% - 70px/2);
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .select-country__title {
        margin-top: 41px;
        font-weight: 700;
        font-size: 27px;
        color: #172C48;
    }

    .select-country__county-wrap {
        margin-top: 23px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .country-wrap__country {
        position: relative;
    }

    .country__label {
        font-size: 18px;
        color: #516176;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .label__img-wrap {
        margin-bottom: 17px;
        width: 145px;
        height: 145px;

        img {
            max-height: 100%;
        }
    }

    .country__input {
        left: calc(50% - 20px/2);
        top: 135px;
        width: 20px;
        height: 20px;
        position: absolute;
    }

    .choice__btns-wrap {
        margin-top: 62px;
        display: flex;
        justify-content: space-between;

        .send-joyka-btn {
            width: 100%;
            justify-content: center;
        }

        .send-joyka-btn:first-child {
            margin-right: 20px;
            border: 1px solid #2783FE;
            background: transparent;
            color: #2783FE;
        }

        .send-joyka-btn::after {
            display: none;
        }

        .send-joyka-btn::before {
            display: none;
        }
    }

    .choice__submit {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit__title {
        font-weight: 700;
        font-size: 27px;
        color: #172C48;
        text-align: center;
    }
}