.reason-for-send {
    padding-top: 240px;
    height: 1450px;
    background-color: #ffe4c4;
    background-image: url('@/assets/camera.png'), url('@/assets/mail.png'), linear-gradient(90deg, #f8e2d8 40%, #ca9f87 100%);
    background-repeat: no-repeat;
    background-position: -80px 310px, calc(100% + 70px) 563px, 0 0;
    position: relative;
    overflow: hidden;

    &__header-title {
        margin: 0 auto;
        width: 342px;
        font-weight: 700;
        font-size: 50px;
        color: #172C48;
        text-align: center;
    }

    &__clouds {
        top: -50px;
        width: 100%;
        height: 324px;
        background-image: url('@/assets/clouds.png');
        background-size: 100% 324px;
        transform: rotate(180deg);
        position: absolute;
    }

    .container {
        background-image: url('@/assets/DSLR Camera with Zoom on Tripod.G12 2.png'), url('@/assets/heart-with-wings.png'), url('@/assets/Mask Group.png');
        background-position: 100px 170px, 346px 340px, 100% 0;
        background-repeat: no-repeat;
    }

    &__wave {
        bottom: -10px;
        width: 100%;
        height: 170px;
        background-image: url('@/assets/wave.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
    }
}

.swiper {
    margin-top: 379px;
    overflow: visible;

    .swiper-button-prev, .swiper-button-next {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
        position: relative;
        cursor: pointer;
    }

    .swiper-button-prev::before, .swiper-button-next::before {
        content: '';
        border-radius: inherit;
        bottom: -3px;
        width: 100%;
        height: 100%;
        background-color: #2783FE;
        position: absolute;
        z-index: -1;
    }

    .swiper-button-prev::after, .swiper-button-next::after {
        content: '';
        bottom: -10px;
        border-radius: inherit;
        width: 80%;
        height: 80%;
        background-color: rgba(39, 131, 254, 0.8);
        filter: blur(17.5px);
        position: absolute;
        z-index: -1;
    }

    .swiper__arrow-prev {
        width: 100%;
        height: 100%;
        background-color: #fff;
        clip-path: polygon(20px 28px, 30px 17px, 33px 20px, 25px 28px, 33px 37px, 30px 39px);
    }

    .swiper__arrow-next {
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform-origin: 50% 50%;
        transform: rotate(180deg);
        clip-path: polygon(20px 28px, 30px 17px, 33px 20px, 25px 28px, 33px 37px, 30px 39px);
    }
}

.swiper-button-prev:hover {
    background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
}

.swiper-button-prev:active {
    background: #7BC0FF;
}

.swiper-button-next:hover {
    background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
}

.swiper-button-next:active {
    background: #7BC0FF;
}

.swiper__control-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    
    .control-container__navigation {
        display: flex;
    }

    .swiper-button-next {
        margin-left: 10px;
    }

    .swiper-pagination {
        color: #9EA3AB
    }

    .control-panel__text {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 16px;
        color: #9EA3AB;
    }

    .control-panel__touch-icon-wrap {
        width: 32px;
        height: 36px;
        display: none;

        img {
            max-height: 100%;
        }
    }
}

.slider__item-slider {
    border-radius: 30px;
    padding: 10px;
    height: 412px;
    background-color: #FFFFFF;
    position: relative;
    cursor: pointer;

    .item-slider__img-wrap {
        width: 100%;
    }

    .item-slider__img-wrap img {
        max-width: 100%;
    }

    .item-slider__text {
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 22px;
    }

    .item-slider__title {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 24px;
        color: #172C48;
    }

    .item-slider__subtitle {
        font-size: 16px;
        color: #516176;

        .item-slider__bold-text {
            font-weight: 700;
        }
    }
}

.slider__item-slider::before {
    content: '';
    border-radius: inherit;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 100%;
    background: #ece2d3;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    position: absolute;
    z-index: -1;
}