.preview {
    width: 100%;
    height: 913px;
    background-image:  url('@/assets/girl-preview.png'), url('@/assets/background.png');
    background-size: auto, cover;
    background-position:  calc(50% + 200px) 0, center center;
    background-repeat: no-repeat, no-repeat;
    z-index: 1;
    position: relative;

    .container {
        padding-top: 82px;
    }

    &__title {
        width: 700px;
        font-weight: 700;
        font-size: 50px;
        color: #2783FE;
        background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .mobile-title {
        font-weight: 700;
        font-size: 30px;
        color: #2783FE;
        background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
    }

    &__list-preview {
        width: 400px;
        margin-top: 27px;
        list-style: none;
    }

    &__clouds {
        bottom: -5px;
        width: 100%;
        height: 324px;
        background-image: url('@/assets/clouds.png');
        background-size: 100% 324px;
        background-repeat: repeat;
        position: absolute;
    }
}

.list-preview__item-preview {
    margin-bottom: 30px;
    font-size: 25px;
    display: flex;
    align-items: center;

    .item-preview__icon {
        margin-right: 10px;
    }
}

.preview__btns-preview {
    margin-top: 75px;
    display: flex;
}

.btn-play-container {
    margin-left: 125px;
    width: 310px;
    height: 81px;
    display: flex;
    align-items: center;
    position: relative;

    .btn-play-container__text {
        padding-left: 40px;
    }
}

.btn-play-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter: blur(12px);
    z-index: -1;
    position: absolute;
}

.btn-play {
    width: 74px;
    height: 74px;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.btn-play::before {
    content: '';
    left: calc(50% - (100% + 20px)/2);
    top: calc(50% - (100% + 20px)/2);
    border-radius: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    position: absolute;
    z-index: -1;
}

.btn-play::after {
    content: '';
    left: calc(50% - (100% + 10px)/2);
    top: calc(50% - (100% + 10px)/2);
    border-radius: 50%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    position: absolute;
    z-index: -1;
}

.btn-play:hover path {
    fill: url(#hover-gradient);
}

.btn-play:active path {
    fill: #7BC0FF;
}