@media (max-width: 1219px) {
    .how-it-works {
        padding-bottom: 50px;
        height: auto;

        &__header-title {
            font-size: 30px;
        }
    }

    .how-it-works__step-list {
        margin-top: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .step-list__item-step {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-step__text {
            padding: 0;
        }

        .item-step__step {
            display: none;
        }

        .item-step__dots-wrap {
            margin-top: 30px;
            margin-bottom: 80px;
            width: 15px;
            height: 85px;
            flex-direction: column;
        }

        .last-dots {
            display: flex;
        }
    }

    .third-step {
        margin-top: 50px;
    }

    .step-address {
        margin: 0;
        grid-column: auto;
    
        .item-step__wrap-img {
            flex: auto;
            width: 320px;
            height: 280px;
        }
    
        .item-step__img:last-child {
            right: -35px;
            position: absolute;
        }
    
        .love-img {
            display: none;
        }
    }
}