.header {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background-color: #fff;

    &__logo {
        height: 48px;
    }

    &__logo img {
        max-height: 100%;
    }

    &__navbar ul {
        list-style: none;
        display: flex;
    }

    &__navbar a {
        font-size: 16px;
        color: #2783FE;
        text-decoration: none;
    }
}

.navbar__item {
    margin-right: 37px;
}

.navbar__item:last-child {
    margin-right: 0;
}

.header .container {
    margin: 0 auto;
    width: 1219px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}