* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: rgb(40, 42, 44);
}

.container {
    margin: 0 auto;
    width: 1219px;
    height: 100%;
}