* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    min-height: 100%;
    background-color: rgb(40, 42, 44);
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 1219px;
    height: 100%;
}